:root {
    --text-color: red;
}

html {
    font-size: 16px;
}

h1 {
    color: var(--text-color);
    font-size: 34px;
}

h2 {
    color: var(--text-color);
    font-size: 2rem;
}

h3 {
    color: var(--text-color);
}

.box {
    width: calc(120px + );
    height: calc(120px * 2);
    background-color: rgb(173, 29, 29);
}
